#btn-mas {

    display: none;
    
}

.containerr {

    position: absolute;
    top: 120px;
    bottom: 20px;
    right: 50px;

}

.redes a, .icon-mas2 {

    display: block;
    text-decoration: none;
    background: #cac2c2;
    color: rgb(0, 0, 0);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;

}

.redes a:hover {

    background: #fff;
    color: blue;

}

.redes a{

    margin-bottom: -15px;
    opacity: 0;
    visibility: visible;

}

#btn-mas:checked~ .redes a{

    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;

}

.icon-mas2 {

    cursor: pointer;
    background: #ffffff;
    font-size: 23px;

}

#btn-mas:checked ~ .btn-mas .icon-mas2 {

    transform: rotate(0deg);
    font-size: 25px;

}

.btn-mas .icon-mas2 {

    transform: rotate(137deg);
    font-size: 23px;

}

.redes a{

    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;

}

/* ///RESPONSIVE  */

@media (max-width:800px) {
#btn-mas {

    display: none;
    
}

.containerr {

    position: absolute;
    top: 475px;
    right: 20px;
    transition: 0;

}

.icon-mas2{
    display: none;
}

.redes a {

    display: inline-block;
    text-decoration: none;
    background: #cac2c2;
    color: rgb(0, 0, 0);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;

}

.redes a:hover {

    background: #fff;
    color: blue;

}

.redes a{

    margin-bottom: -15px;
    opacity: 0;
    visibility: visible;

}

#btn-mas:checked~ .redes a{

    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;

}

.icon-mas2 {

    cursor: pointer;
    background: #ffffff;
    font-size: 23px;

}

#btn-mas:checked ~ .btn-mas .icon-mas2 {

    transform: rotate(0deg);
    font-size: 25px;

}

.btn-mas .icon-mas2 {

    transform: rotate(137deg);
    font-size: 23px;

}

.redes a{

    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;

}
}

