* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

section {

    margin-bottom: 4%;

}

/* Selector */

.navegacion {

    width: 100%;
    padding: 1%;
    margin-top: 15px;
    padding-left: 30px;
    padding-bottom: 2%;
    max-width: auto;
    border: 0px solid black;
    position: fixed;
    z-index: 1000;
    color: white;
    text-align: left;
    display: inline-block;
    display: table;
    
}

#none{
    display: none;
}

.menu a:hover {



}

#logo {

    margin-bottom: auto;
    margin-bottom: -1.5%;
    cursor: pointer;
    

}

.navegacion ul {

    list-style: none;

}

    .menu > li {

        margin-right: 1%;
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        position: static;
        margin-bottom: 0.5%;
        
    }

        .menu > li > a {

            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            padding: 5px;
            color: white;
            margin-left: 15px;
            line-height: 80px;

        }

            .menu li a:hover {

                color: blue;
                background: #F9F9F9;
                padding: 5px;
                border-radius: 4px;
                transition: all .3s;

            }

                .menu li:hover .submenu {

                    visibility: visible;
                    opacity: 1;

                }

/* Fin Seelector */

header.abajo .navegacion {

    width: 100%;
    padding: 0%;
    margin-top: -10px;
    padding-bottom: 0%;
    background: #F9F9F9;
    border: 0px solid black;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1000;
    height: 80px;
    text-align: center;
    top: 0;
    display: inline-block;
    transition: 0.3s;
}

header.abajo #none{
    display: block;
}

header.abajo #noNone{
    display: none;
}

header.abajo .menu > li > a {
    color: #363636;
    padding: 0px;
    font-weight: 1;
    padding-top: 5px;
    font-family: 'Black Han Sans';
}

header.abajo .menu li a:hover {

    color: blue;
    background: #F9F9F9;
    padding: 0px;
    border-radius: 5px;
    height: 10px;
    transition: all 0s;
    border: 0px solid black;

}

header.abajo #none:hover{
    display: block;
    color: blue;
    background: #F9F9F9;
    padding: 0px;
    border-radius: 5px;
    margin-top:5px;
    transition: all .0s;
    border: 0px solid black;    
}

header.abajo .menu li:hover .submenu {

    visibility: visible;
    opacity: 1;

}
